@model Employee

<form method="post">
    <div class="border shadow-lg m-3 pt-2">
        <div class="row m-3 text-center">
            <h1> Delete Employee </h1>
        </div>
        <div class="m-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control" />
            
        </div>
        <div class="m-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" disabled class="form-control" />
          
        </div>
        <div class="m-3">
            <label asp-for="Contact"></label>
            <input asp-for="Contact" disabled class="form-control" />
        </div>
        <div class="m-3">
            <label asp-for="Address"></label>
            <input asp-for="Address" disabled class="form-control" />
        </div>
        <div class="m-3">
            <label asp-for="BasicSalary"></label>
            <input asp-for="BasicSalary" disabled class="form-control" />
        </div>
        <div class="m-3">
            <label asp-for="OverTime"></label>
            <input asp-for="OverTime" disabled class="form-control" />
        </div>
        <div class="m-3">
            <label asp-for="NetSalary"></label>
            <input asp-for="NetSalary" disabled class="form-control" />
        </div>
        <div class="btn-group form-control">
            <div class="col-6">
                <button type="submit" class="btn btn-success form-control">Delete</button>
            </div>
            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-close-white form-control"><-- Back to List</a>

            </div>
        </div>

    </div>

</form>