@model Employee

<form method="post">
    <div class="border shadow-lg m-3 pt-2">
      
        <div class="row m-3 text-center">
            <h1> Update Employee </h1>
        </div>
        <div class="m-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            
        </div>
        <div class="m-3">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" />
            
        </div>
        <div class="m-3">
            <label asp-for="Contact"></label>
            <input asp-for="Contact" class="form-control" />
            
        </div>
        <div class="m-3">
            <label asp-for="Address"></label>
            <input asp-for="Address" class="form-control" />

        </div>
        <div class="m-3">
            <label asp-for="Salary"></label>
            <input asp-for="Salary" class="form-control" />
           
        </div>
        <div class="btn-group form-control">
            <div class="col-6">
                <button type="submit" class="btn btn-success form-control">Update</button>
            </div>
            <div class="col-6">
                <a asp-controller="Category" asp-action="Index" class="btn btn-close-white form-control"><-- Back to List</a>

            </div>
        </div>

    </div>

</form>